<html>
    <head>
        <title>My Recipes</title>
        <style>
            body{background-image: linear-gradient(#ff5858, #6565ff);
            border:20px double palegreen;
        text-align: left;
        color: rgb(148, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 10px;
margin: 25px;
padding: 25px;}
    h1{ font-size: 70px;
    text-align:center;}
    p,ol,ul{font-size: 35px;}
        </style>
    </head>
    <body>
        <h1> My Recipes!</h1>
        <p>Layered Parfait</p>
        <ul>
            <li>Cookie Crumble</li>
            <li>Jelly</li>
            <li>Whipped Cream</li>
            <li>Sprinkles</li>
            <li>Cherries</li>
        </ul>
        <ol>
            <li>First you get a cup and put a handful of cookie crumble.</li>
            <li>Next you add a layer of whipped cream.</li>
            <li>Then you add a few cherries cut in half.</li>
            <li>After that you add a spoonful of jelly.</li>
            <li>You add another layer of cookie crumble.  </li>
            <li>Next you add another layer of whipped cream.</li>
            <li>Finally you add sprinkles and a cherry on top and serve. </li>
            <img src="../static/parfait.jpg" alt="Please Wait..." width="200px" height="300px">
        </ol>
        <p>Tropical Juice</p>
        <ul>
            <li>Strawberry</li>
            <li>Lemon juice</li>
            <li>Pineapple</li>
            <li>Coconut Water</li>
        </ul>
        <ol>
            <li>First you pour coconut water into a glass.</li>
            <li>Next you add pineapple juice. </li>
            <li>After that goes the soaked juice of the strawberries.</li>
            <li>Also you add tiny strawberry and pineapple chunks.</li>
            <li>Next you add little lemon juice and stir.</li>
            <li>Finally you let it set down in the fridge for a few minutes and serve.</li>
            <img src="../static/juice.jpg" alt="Please Wait..." width="200px" height="300px">
        </ol>
    
    </body>

</html>